@page
@model webTranslator.Pages.IndexModel
@{
    ViewData["Title"] = " Home ";
}



<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: linear-gradient(to bottom, #e5eaf2 100%);
            font-family: 'Hyundai Sans Head Pro Regular';
        }

        .header {
            display: flex;
            top: 90px;
        }

        .textbox1 {
            display: inline;
            border-radius: 10px 10px 10px;
            flex-direction: column;
            justify-content: left;
            border: 3px solid black;
            color: #3D52A0;
            
            padding: 5px;
            position: absolute;
            top: 70px;
        }

        .fade-in-text {
            font-family: 'Hyundai Sans Head Pro Regular';
            color: #3D52A0;
            font-size: 60px;
            animation: fadeIn 1.5s;
            position: relative;
        }

        .fade-in-text span {
            display: inline-block;
            animation: fadeIn 1.5s;
        }

        /* Correct keyframes syntax */
        @@keyframes fadeIn {
            0% { opacity: 0; transform: translateY(230px); }
            100% { opacity: 1; transform: translateY(0); }
        }
    </style>
</head>
<body>
    <div class="text-center fade-in-text">
        <h1 style="font-size: 70px">
            <span>
				<b>Autonomous Development</b><br />
				<img src="/images/main.png" alt="Logo" style="width: 100%; max-width: 300px; height: auto; display: block; margin: 20px auto;" />
            </span>
        </h1>
    </div>
</body>
</html>
