@page
@model webTranslator.Pages.linksModel
@{
	ViewData["Title"] = " Links ";
}
<style>

	h2 {
		font-family: 'Hyundai Sans Head Pro Regular';
	}

	body {
		background: #e5eaf2;
		font-family: 'Hyundai Sans Head Pro Regular';
		font-size: 15px;
		color: #3D52A0;
	}

</style>
<body>
<div class="text-left">
	<h1 class="display-4">Links</h1>
	<p>Here are some useful links: </p>
	<ol>
		<li><a href="http://hatciwebrepo-prod2-env.eba-ffzp2353.us-east-1.elasticbeanstalk.com/">Benchmarking Repository</a></li>
		<li><a href="http://10.37.173.96/">ADAS KEYper</a></li>
		<li><a href="https://hellohmg.com/">Hello HMG</a></li>
		<li><a href="https://a3vxdyszn.accounts.cloud.sap/saml2/idp/sso?sp=https://www.successfactors.com/hmc1&idp=https://sts.windows.net/a92e9068-b815-41f7-83b5-5691d7b47a66/">HATCI Website</a></li>
	</ol>
	</div>
</body>