@page
@model ResultModel
@{
    ViewData["Title"] = "Translation Complete";
}
<style>

	h2 {
		font-family: 'Hyundai Sans Head Pro Regular';
	}

	body {
		background: #e5eaf2;
		font-family: 'Hyundai Sans Head Pro Regular';
		font-size: 14px;
		color: #3D52A0;
	}

</style>


<body>
	<h2>Translation Complete</h2>
@if (!string.IsNullOrEmpty(Model.File))
{
    <p> Your translated file is ready.</p>
    <a href="@Url.Content(Model.FilePath)" download>Download @Model.File</a>
}
else
{
    <p style="color:red;">No translated file was found.</p>
}

</body>
