@page
@model TransModel
@{
    ViewData["Title"] = "File Translation";
}
<style>

    h2 {
        font-family: 'Hyundai Sans Head Pro Regular';
    }

    body {
        background: #e5eaf2;
        font-family: 'Hyundai Sans Head Pro Regular';
        font-size: 15px;
        color: #3D52A0;
    }

</style>
<html>

<body>
	<h2>Translate to English</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <label>Select a  .pptx, or .xlsx file:</label>
        <input type="file" name="UploadedFile" accept=".pptx,.xlsx" required />
    </div>
    <br />
    <button class="style: button1" type="submit">Translate</button>
</form>

@if (!ViewData.ModelState.IsValid)
{
    <div style="color: red; margin-top: 20px;">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}
</body>
</html>